@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 0);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

#__next {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 3.5vw;
}

.regText{
  font-size: 2vw;
  font-weight: bold;
  color: white;
  text-shadow:
    -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000,
    1px 1px 0 #666, 1px 1px 0 #555, 2px 2px 0 #444, 2px 2px 0 #333;
}

.glow:hover {

}

.glow {

}

.bg {
  position: relative;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://images.unsplash.com/photo-1600596542815-ffad4c1539a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2075&q=80');
  background-repeat: repeat;
  filter: blur(5px);
  z-index: -1;
  animation: background-scroll 60s linear infinite;
}

@keyframes background-scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

@media (min-width: 1024px) {
  /* styles for screens with a min width of 1024px */
  .flexType {
    flex-direction: row;
  }
  .responsiveWidthHeight {
    width: 16%;
    height: 50%;
  }
  .leaderBoard {
    font-size: 1.5vw;
  }
  .lbText {
    font-size: 1vw;
  }
  .slideWidth {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  /* styles for screens between 640px and 1024px */
  .flexType {
    flex-direction: column;
  }
  .responsiveWidthHeight {
    width: 50%;
    height: 25%;
  }
  .leaderBoard {
    font-size: 3rem;
  }
  .leaderBoard {
    font-size: 3vw;
  }
  .lbText {
    font-size: 1vw;
  }
  .slideWidth {
    width: 100%;
  }
}

