@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 0);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

#__next {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 3.5vw;
}

.regText{
  font-size: 2vw;
  font-weight: bold;
  color: white;
  text-shadow:
    -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000,
    1px 1px 0 #666, 1px 1px 0 #555, 2px 2px 0 #444, 2px 2px 0 #333;
}

.gameButton {
  font-weight: bold;
  color: white;
  text-shadow:
    -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000,
    1px 1px 0 #666, 1px 1px 0 #555, 2px 2px 0 #444, 2px 2px 0 #333;
}


.bg {
  position: relative;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://images.unsplash.com/photo-1600596542815-ffad4c1539a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2075&q=80');
  background-repeat: repeat;
  filter: blur(5px);
  z-index: -1;
  animation: background-scroll 60s linear infinite;
}

@keyframes background-scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

@media (min-width: 580px) {
  /* styles for screens with a min width of 1024px */
  .flexType {
    flex-direction: row;
    align-items: center;
  }
  .responsiveWidthHeight {
    width: 16%;
    height: 50%;
  }
  .leaderBoard {
    font-size: 1.5vw;
  }
  .lbText {
    font-size: 1vw;
  }
  .slideWidth {
    width: 50%;
  }
  .carouselButtonDiv {
    width: 40%;
    bottom: 1.5rem;
    margin-left: 5%;
  }
  .resCenter {
    justify-content: center;
  }
  .resInfo {
    width: 40vw;
  }
  .priceBox{
    bottom: 0;
    gap: 13%;
  }
  .imageDiv{
    max-height: 100%;
  }
  .login {
    font-size: 1rem;
    margin-right: 5px;
  }
  .name {
    font-size: 1.3vh
  }
  .score {
   font-size: 1.3vh;
  }
}

@media (max-width: 580px) {
  /* styles for screens between 640px and 1024px */
  .flexType {
    flex-direction: column;
  }
  .responsiveWidthHeight {
    width: 50%;
    height: 25%;
  }
  .leaderBoard {
    font-size: 1vh;
  }
  .lbText {
    font-size: 1vw;
  }
  .slideWidth {
    width: 100%;
  }
  .carouselButtonDiv {
    width: 96%;
    margin-left: 2%;
  }
  .priceDivLeft {
    bottom: 46%;
    left: 2%
  }
  .priceDivRight {
    bottom: 46%;
    right: 2%;
  }
  .resCenter {
    align-items: center;
    justify-content: center;
  }
  .resInfo {
    width: 80vw;
  }
  .priceBox{
    gap: 37%;
  }
  .imageDiv {
    max-height: 40%;
  }
  .login {
    font-size: 1vh;
    margin-bottom: 5px;
  }
  .name {
    font-size: 1vh
  }
  .score {
   font-size: 1vh;
  }
}

.swiper-slide {
  overflow: hidden;
}

.shadow {
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffffff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
}

